header {
	background: #FFF8E5;
	width: 100%;
	clear: both;
	content:'';
	display: table;
	border: solid;
	border-color: #FFB344;
}

.inicio {
	width: 900px;
	margin: 0 auto;
}

.texto {
	display: block;
	font-family: 'Lucida Sans';
	color: black;
	align-items: center;
	position: relative;
	justify-content: center;
	height: 100px;
	width: 100%;
}
.texto h2{
	font-size: 50px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 900px;
}

header img {
	width: 120px;
	height: 70px;
	float: left;
	padding: 8px;
}

nav {
	float: right;
}

nav ul li {
	list-style: none;
	margin-left: 75px;
	padding: 25px 0;
	float: left;
	position: relative;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav ul li a::before {
	display: block;
	content: '';
	width: 0%;
	background: red;
	height: 5px;
	top: 0;
	position: absolute;
	transition: width 0.2s;
}

nav ul li a:hover::before {
	width: 100%;
} 